* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #689ef5, #7ce8ff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

/* HEADER */

.header {
    text-align: center;
    margin-bottom: 2rem;
}

.header h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: .5rem;
}

.header p {
    color: #777;
    font-size: .95rem;
}

/* PESQUISA */

.search-container{
    margin-bottom: 2rem;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.search-box{
    position: relative;
    width: 100%;
}

.search-box input {
    width: 100%;
    height: 50px;
    padding: .9rem 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
}

.search-box input:focus {
    border-color: #2196f3;
}

.suggestions {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;

    width: 100%;

    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, .08);

    max-height: 250px;
    overflow-y: auto;

    z-index: 1000;

    display: block;
}

.suggestion-item {
    padding: .8rem 1rem;
    cursor: pointer;
    transition: background .2s;
    border-bottom: 1px solid #eee;
}

.suggestion-item:hover {
    background: #f5f5f5;
}

.suggestion-item:last-child {
    border-bottom: none;
}

.search-container button {
    width: 100%;
    height: 40px;
    padding: 0 1.4rem;
    border: none;
    border-radius: 10px;
    background-color: #2196f3;
    color: #fff;
    cursor: pointer;
    transition: .3s;
    font-weight: bold;
}

.search-container button:hover {
    background-color: #1976d2;
}

/* WEATHER SUMMARY */

.weather-summary {
    width: 100%;
    max-width: 1000px;
    height: 150px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 4rem;

    background: #2196f3;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .08);

    margin-bottom: 1rem;
}

.summary-left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.summary-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding-right: 4rem;
    border-right: 1px solid #fff;
}

.weather-summary-icon {
    width: 90px;
    height: 90px;
}

.summary-description {
    color: #fff;
    font-size: .95rem;
    text-transform: capitalize;
}

.summary-place h2 {
    color: #fff;
    margin-bottom: .3rem;
}

.summary-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-right span:first-child {
    color: #fff;
    font-size: .95rem;
}

.summary-temperature {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;

    margin: .5rem 0;
}

.summary-right span:last-child {
    color: #fff;
}

/* ICON TEMPERATURE */
.summary-temperature-container {
    display: flex;
    align-items: center;
    gap: .1rem;
}

.summary-temperature-container i {
    font-size: 2rem;
    color: #fff;
}

/* CARD */

.weather-card {
    display: flex;
    width: 100%;
    max-width: 1000px;
    justify-content:space-between;
}

/* INFORMAÇÕES */
.info {
    width: 220px;
    min-height: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #f7f7f7;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.info span {
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
}

/* ICON */
.info i {
    width: 55px;
    height: 55px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 1rem;

    border-radius: 50%;

    background: rgba(33, 150, 243, 0.12);

    color: #2196f3;

    font-size: 1.4rem;
}

/* RESPONSIVO */
@media (max-width: 980px) {

    .weather-card {
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media (max-width: 790px) {

    .header h1 {
        font-size: 1.6rem;
    }

    .header p {
        font-size: .9rem;
    }

    .search-container {
        width: 100%;
    }

    /* WEATHER SUMMARY */

    .weather-summary {
        height: auto;
        padding: 2rem;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .summary-left {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .summary-weather {
        width: 100%;

        padding-right: 0;
        padding-bottom: 1rem;

        border-right: none;
        border-bottom: 1px solid #fff;
    }

    .summary-place {
        text-align: center;
    }

    .summary-right {
        align-items: center;
        text-align: center;
    }

    /* WEATHER CARD */

    .weather-card {
        flex-direction: column;
        gap: 1rem;
    }

    .info {
        width: 100%;
        min-height: 100px;
    }
}

.hide {
    display: none;
}